{% extends "base.html" %}

{% block content %}
    {% load static %}

    <section id="section_info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <h2 class="info_title">MEET OUR COMBINATIONS</h2>
                    <h4>Experienced players all around the world</h4>
                    <p>PAIR</p>
                    <p>PAIRS</p>
                    <p>SET</p>
                    <p>FULL HOUSE</p>
                    <p>FOUR OF KINDS</p>
                    <p>FIVE OF KINDS</p>
                    <a href="{% url 'signup' %}" class="btn btn_inverse">Sign Up &raquo;</a><br/>
                    <small class="muted">We are not robbers, still not robbers!</small>
                    <br/><br/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <img src="{% static 'img/two-dices.jpg' %}">
                </div>
            </div>
        </div>
    </section>

{% endblock %}