{% extends "base.html" %}

{% block content %}
    <h1>NonAzino777</h1>
    <p>Welcome to NonAzino777, a website developed by <em>Azartinks</em>!</p>
    <h2>Get chance to get jackppot</h2>
    <p>We have several prizes</p>
    <ul>
        <li><strong>Dice of 6x6</strong> x6 from bet</li>
        <li><strong>Dice of 5x5</strong> x5 from bet</li>
        <li><strong>Dice of 4x4</strong> x4 from bet</li>
        <li><strong>Dice of 3x3</strong> x3 from bet</li>
        <li><strong>Dice of 2x2</strong> x2 from bet</li>
        <li><strong>Dice of 1x1</strong> x10 from bet</li>

    </ul>
{% endblock %}